<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>New episode</title>
</head>

<body>
    <h1>New episode {{ episode.title }} frome {{episode.season.program.title}}</h1>
    <p> Episode {{ episode.number }}
    <p>Synopsis : {{episode.synopsis }}
</body>

</html>